resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        sliding-window-size: 6
        failure-rate-threshold: 5
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 2s
        slow-call-rate-threshold: 50
    instances:
      products:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeout-duration: 3s
    instances:
      products:
        baseConfig: default

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:9100
      client:
        registration:
          client-app:
            provider: spring
            client-id: gateway-app
            client-secret: 12345
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8090/authorized
            scope:
            - openid
            - profile
            client-name: client-app
        provider:
          spring:
            issuer-uri: http://127.0.0.1:9100
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: msvc-oauth
            uri: lb://msvc-oauth
            predicates:
            - Path=/api/security/**
            filters:
            - StripPrefix=2
          - id: msvc-products
            uri: lb://msvc-products
            predicates:
            - Path=/api/products/**
            # - Header=token, regex
            # - Method=GET, POST 
            # - Query=color
            # - Cookie=color, azul
            # - Header=Content-Type, application/json
            filters:
            - name: CircuitBreaker
              args:
                name: products
                statusCodes: 500
                fallbackUri: forward:/api/items/5
            - StripPrefix=2
            - name: SampleCookie
              args:
                name: user
                value: user1234
                message: mensaje desde gateway para products
          - id: msvc-items
            uri: lb://msvc-items
            predicates:
            - Path=/api/items/**
            filters:
            - StripPrefix=2
            - AddRequestHeader=token-request, abc123
            - AddResponseHeader=token-response, xyz789
            - AddRequestParameter=nombre, pepe
          - id: msvc-user
            uri: lb://msvc-users
            predicates:
            - Path=/api/users/**
            filters:
            - StripPrefix=2
          