spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: msvc-products
            uri: lb://msvc-products
            predicates:
            - Path=/api/products/**
            # - Header=token, regex
            # - Method=GET, POST 
            # - Query=color
            # - Cookie=color, azul
            # - Header=Content-Type, application/json
            filters:
            - StripPrefix=2
            - name: SampleCookie
              args:
                name: user
                value: user1234
                message: mensaje desde gateway para products
          - id: msvc-items
            uri: lb://msvc-items
            predicates:
            - Path=/api/items/**
            filters:
            - StripPrefix=2
            - AddRequestHeader=token-request, abc123
            - AddResponseHeader=token-response, xyz789
            - AddRequestParameter=nombre, pepe
          